.post_content {
  background-color: #CCEBFF;
  width: 50%;
  height: 100%;
  margin-left: 50%;
  padding: 200px 40px 40px 40px;
  font-family: Helvetica;
  line-height: 27px;
  color: #2B2C38;

}
.top_bar {
  border-bottom: 2px solid #c9c9c9;

}
@media all and (max-width: 750px) {
  .post_content {
    width: auto;
    position: relative;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  h1 {
    margin-bottom: 0;
    text-align: center;
  }
  .top_bar {
    border: none;
  }
  .post_content > p {
    margin-top: 0;
  }
}