body {
  margin: 0;
  font-size: 18px;
}
.post_header {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-left: $header-space;
  background: url('../images/zKittens.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 50%;
  color: #FFF;
  font-family: $font-stack;
  text-shadow: $text-outline;   
  h1 {
  font-size: 47px;
  margin-top: 5px;
  }
}
.logo {
  img {
    display: inline-block;
    @include logo-size;
  }
  p {
    display: inline-block;
    position: relative;
    top: -6px;
    padding-left: 3px;
    margin-top: 9px;
  }
}
.post_headerNav {
  list-style: none;
  padding-top: 50px;
  padding-left: 0;
  padding-bottom: 10px;
  margin: 0;
}
.header_navList {
  display: inline-block;
  &:after {
    content: "\2022";
  }
  &:last-of-type:after {
    content: none;
  }
  > a {
    color: inherit;
    text-decoration: none;
  }
}
@media all and (max-width: $smaller-width) {
  .post_header {
    @include small-view-shift;
    .post_headerNav{
      text-align: center;
    }
    h1 {
    margin-bottom: 0;
    text-align: center;
    }
    .logo {
      position: fixed;
      z-index: 1;
    }
  }
}