// * {
//   box-sizing: border-box;

// }

// *before,
// *after {
//   box-sizing: inherit;

// }
body {
  margin: 0;
  font-size: 18px;

}
.post_header {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-left: $header-space;
  background: url('../images/zKittens.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 50%;
  color: #FFF;
  font-family: $font-stack;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
  h1 {
  font-size: 47px;
  margin-top: 5px;
  }
  img {
  height: 40px;
  width: 40px;
  }
}
/*trying to align the name and sprite*/
.post_header > div > p {
  display: inline-block;
  text-align: center;

}
.post_headerNav {
  list-style: none;
  padding-top: 50px;
  padding-left: 0;
  padding-bottom: 10px;
  margin: 0;

}
.post_headerNav > li {
  display: inline-block;

}
.post_headerNav > li:after {
  content: "-";

}
.post_headerNav > li:last-of-type:after {
  content: none;
  
}
.post_headerNav > li > a{
  color: inherit;
  text-decoration: none;

}
@media all and (max-width: $smaller-width) {
  .post_header {
    @include small-view-shift;
    .post_headerNav{
      text-align: center;
    }
    h1 {
    margin-bottom: 0;
    text-align: center;
    }
  }
}