$smaller-width: 850px;
$font-stack:'Oswald', sans-serif;
$header-space: 10px;
$text-outline: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                 1px 1px 0 #000;

// Mixin for responsiveness changes
@mixin small-view-shift {
  width: auto;
  position: relative;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
@mixin content-pic-center{
  width: 60%;
  height: auto;
  margin-left: 20%;
  padding: 25px 0 25px 0;
}
@mixin logo-size {
  height: 35px;
  width: 35px;
}


